@charset "utf-8";
/* CSS Document */


/* Styles for img and body */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav.navbar { background-color: black;}

img {height: auto; max-width: 100%}
body {margin-right:auto;
	  margin-left: auto;
	  width: 80%;
	 font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}

.info {background-color: black;
	   color:white;
	   text-align: center;
	   padding-top:2em; 
	padding-bottom:9.1em;
}

#myComments{
	margin-top: auto;
}

h3 a:link{
	color: #000000;
	text-decoration: none;
}

h3 a:hover{
	color: #FFB6C1;
}


.carousel {
	overflow: hidden;
	margin-bottom: 4rem;
}

.thanks {
  background-image: url("images/thanks.jpg");
  min-height: 900px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-sm {
  width: auto;
  height: 225px;
  max-height: 225px;
}

#button {
	background-color: #FFB6C1;
	color: #ffffff;
	border-color: #FFB6C1;
}

.cta {
  position: absolute;
  left: 55%;
  top: 20%;
  text-align: center;
}

h1 {text-align: center;}
/*Support of HTML5*/

header, main, nav footer, figure, figcaption,

aside, section, article {display:block;}

#mobile{display:none;}

#desktop{display:inline;}

/*Media query for mobile phones*/

@media only screen and (max-width:37.5em){

video,embed {float:right;

padding:20px;

}

#mobile h3 a:link{
	color: #000000;
	text-decoration: none;
}

#mobile h3 a:hover{
	color: #FFB6C1;
}

}